{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    <a style="float: right" href="{% url 'todo:tag-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
    Tag list
  </h1>
  {% if tag_list %}

    <table class="table table-bordered">
      <tr>
        <td class="content-cell">Name</td>
        <td class="content-cell">Update</td>
        <td class="content-cell">Delete</td>
      </tr>
      {% for tag in tag_list %}
        <tr>
          <td class="content-cell">
            {{ tag.name }}
          </td>
          <td class="content-cell">
            <a href="{% url 'todo:tag-update' pk=tag.id %}" class="btn btn-secondary">Update</a>
          </td>
          <td class="content-cell">
            <a href="{% url 'todo:tag-delete' pk=tag.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no tags yet!</p>
  {% endif %}
{% endblock %}
